/* const buttonStyle={
    fontSize:"30px",
    backgroundColor:"#00a5ab",
    width:"100px",
    color:"white",
    padding:"15px",
    borderRadius:"30px"
} */

button{

    font-size:30px;
    width:100px;
    color:white;
    padding:5px;
    border-radius:30px;
    border-color: black;
    border-width: 5px;
    margin: 10px;
}

.counterButton{
    background-color:#00a5ab;  
}

.count{
    font-size:150px;
    padding:20px;
}
.resetButton{
    background-color:#8300ab;
 }